<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3307/spar_database?useSSL=false&amp;serverTimezone=Europe/London</property>
        <property name="connection.username">spar_user</property>
        <property name="connection.password">spar_user</property>
        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>

        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>

		<!-- Set the current session context -->
		<property name="current_session_context_class">thread</property>
		
		<mapping class="com.saturn.model.employee.Employee"/>
		<mapping class="com.saturn.model.checklists.CoffeeHACCP"/>
		<mapping class="com.saturn.model.checklists.DeliHACCP"/>
		<mapping class="com.saturn.model.checklists.FloorHACCP"/>
		<mapping class="com.saturn.model.checklists.FireWarden"/>
		<mapping class="com.saturn.model.checklists.HealthSafetyChecklist"/>
		<mapping class="com.saturn.model.maintenance.Maintenance"/>
		<mapping class="com.saturn.model.task.Task"/>
		<mapping class="com.saturn.model.training.SeaChangeTraining"/>
		<mapping class="com.saturn.model.training.HSETraining"/>
		<mapping class="com.saturn.model.training.VirtualAcademyTraining"/>
		<mapping class="com.saturn.model.training.EmployeeHSE"/>
		<mapping class="com.saturn.model.training.EmployeeSeaChange"/>
		<mapping class="com.saturn.model.training.EmployeeVirtualAcademy"/>
		<mapping class="com.saturn.model.Administrator"/>
 
    </session-factory>

</hibernate-configuration>